.icon {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
}
.icon--refresh {
  width: 18px;
  height: 18px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  min-width: 320px;
  margin: auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  background: #fff;
}

.slick-slide {
  outline: 0 !important;
}

.page-inner {
  padding-top: 50px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-2-3 {
  width: 66.6%;
}

.slick-slide {
  outline: 0 !important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.p-page-inner {
  padding-top: 70px;
  padding-bottom: 50px;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

.text-gray {
  color: rgba(0, 0, 0, 0.5) !important;
}

.disable {
  opacity: 0.5;
  cursor: default;
}
.disable .icon--arrow-left {
  transform: translate(0, 0) !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.link-refresh {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #8790A1;
  transition: 0.3s color ease;
}
.link-refresh .icon {
  margin-right: 5px;
  transition: 0.3s all ease;
}
.link-refresh:hover {
  color: #45BE7D;
}
.link-refresh:hover .icon {
  transform: rotate(180deg);
}

.link-more-green {
  color: #45BE7D;
  text-decoration: none;
  transition: 0.3s color ease;
  display: inline-block;
  vertical-align: top;
}
.link-more-green:hover {
  color: #369a64;
  text-decoration: underline;
}

.link-icon {
  color: #45BE7D;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.2;
  transition: 0.3s color ease;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.link-icon .icon {
  fill: currentColor;
  transition: 0.3s all ease;
}
.link-icon .icon--arrow-left {
  width: 18px;
  height: 18px;
  margin: 0 5px;
}
.link-icon .icon--refresh-2 {
  width: 19px;
  height: 19px;
  margin: 0 5px;
}
.link-icon:hover {
  color: #369a64;
}
.link-icon:hover .icon--arrow-left {
  transform: translate(-5px, 0);
}
.link-icon:hover .icon--refresh-2 {
  transform: rotate(-180deg);
}

.p-list-decimal {
  list-style: decimal;
  padding: 0 0 0 20px;
  margin: 0;
}
.p-list-decimal li {
  margin-bottom: 20px;
  padding-left: 20px;
}
.p-list-decimal li a {
  text-decoration: none;
  color: #45BE7D;
}

@media (max-width: 568px) {
  .link-refresh {
    font-size: 12px;
  }
}
.p-btn-r {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid #8790A1;
  transition: 0.3s color ease, 0.3s background-color ease;
  border-radius: 50px;
  text-decoration: none;
  outline: 0;
  padding: 0 15px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.3;
  color: #8790A1;
  text-align: center;
}
.p-btn-r--large {
  height: 50px;
}
.p-btn-r:hover {
  color: #fff;
  background: #8790A1;
}

.p-btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0 15px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.3;
  color: #8790A1;
  text-align: center;
  transition: 0.3s color ease, 0.3s background-color ease;
  border-radius: 50px;
  text-decoration: none;
}
.p-btn:hover {
  color: #fff;
  background: #8790A1;
}
.p-btn--large {
  height: 50px;
}
.p-btn--green {
  color: #fff;
  background: #45BE7D;
}
.p-btn--green:hover {
  background: #369a64;
}
.p-btn--gray {
  background: #DEDEDE;
  color: #8790A1;
}

.p-form-row {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}
.p-form-row__input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  height: 50px;
  padding: 0 15px;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  outline: 0;
}
.p-form-row__label {
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.3;
  color: #8790A1;
}

.p-header {
  padding: 30px;
}
.p-header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.p-header__inner--center {
  justify-content: center;
}
.p-header__logo {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #33364A;
  font-family: "Poppins", sans-serif;
}
.p-header .p-header__btn {
  width: 198px;
}

@media (max-width: 768px) {
  .p-header {
    padding: 20px 0;
  }
  .p-header__inner {
    justify-content: center;
    text-align: center;
  }
  .p-header__logo {
    order: 0;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .p-header__btn {
    margin: 0 4px 15px;
  }
  .p-header__btn:nth-child(1) {
    order: 1;
  }
}
.p-table-status-wrap {
  max-width: 692px;
  margin-left: auto;
  margin-right: auto;
}

.p-table-status {
  width: 100%;
}
.p-table-status th {
  font-weight: normal;
  color: #8790A1;
  font-size: 12px;
  line-height: 18px;
  padding: 20px;
  border: 0;
  border-bottom: 1px solid #DEDEDE;
  text-align: left;
}
.p-table-status th:last-child {
  text-align: right;
}
.p-table-status th b {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.p-table-status td {
  padding: 20px;
  border: 0;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}
.p-table-status td:last-child {
  text-align: right;
}
.p-table-status__cont {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.5;
}
.p-table-status__cont p {
  margin: 0 0 5px;
}
.p-table-status__cont h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.p-table-status__indicator {
  position: absolute;
  top: 7px;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #C4C4C4;
}
.p-table-status__indicator--success {
  background: #45BE7D;
}
.p-table-status__indicator--warning {
  background: #ffc107;
}
.p-table-status__indicator--danger {
  background: #dc3545;
}

@media (max-width: 768px) {
  .p-table-status td, .p-table-status th {
    padding: 15px 8px;
  }
  .p-table-status td:first-child, .p-table-status th:first-child {
    padding-left: 0;
  }
  .p-table-status td:last-child, .p-table-status th:last-child {
    padding-right: 0;
  }
  .p-table-status__cont h3 {
    font-size: 18px;
  }
}
.p-inkling-wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.p-inkling {
  width: 100%;
  font-family: Roboto;
}
.p-inkling th {
  text-align: left;
  padding: 20px 15px;
  border: 0;
  border-bottom: 1px solid #DEDEDE;
}
.p-inkling td {
  padding: 15px;
  border-bottom: 1px solid #DEDEDE;
  border-left: 1px solid #DEDEDE;
}
.p-inkling td:first-child {
  border-left: 0;
}
.p-inkling th:first-child, .p-inkling td:first-child {
  padding-left: 20px;
}
.p-inkling th.p-inkling__item-aside-r, .p-inkling td.p-inkling__item-aside-r {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.p-inkling__item-name {
  width: 200px;
}
.p-inkling__item-aside-r {
  width: 120px;
}
.p-inkling__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  position: relative;
}
.p-inkling__title:before {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  border-radius: 100%;
  display: block;
  content: "";
}
.p-inkling__title--success:before {
  background: #45BE7D;
}
.p-inkling__title--warning:before {
  background: #ffc107;
}
.p-inkling__title--danger:before {
  background: #dc3545;
}
.p-inkling__title--secondary:before {
  background: #C4C4C4;
}
.p-inkling__link-filter {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  color: #45BE7D;
  text-decoration: none;
  transition: 0.3s color ease;
}
.p-inkling__link-filter:hover {
  text-decoration: underline;
  color: #369a64;
}
.p-inkling__name {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}
.p-inkling__name:before {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 8px;
  height: 8px;
  margin-top: -5px;
  border-radius: 100%;
  display: block;
  content: "";
}
.p-inkling__name--success:before {
  background: #45BE7D;
}
.p-inkling__name--warning:before {
  background: #ffc107;
}
.p-inkling__name--danger:before {
  background: #dc3545;
}
.p-inkling__name--secondary:before {
  background: #C4C4C4;
}
.p-inkling p {
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 1.5;
}
.p-inkling p:last-child {
  margin-bottom: 0;
}
.p-inkling p a {
  color: #45BE7D;
  text-decoration: none;
}
.p-inkling p a:hover {
  text-decoration: underline;
  color: #369a64;
}
.p-inkling ul {
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 1.5;
  padding: 0;
  list-style: none;
}
.p-inkling ul:last-child {
  margin-bottom: 0;
}
.p-inkling__loading {
  width: 30px;
}
.p-inkling__input, .p-inkling__textarea {
  width: 100%;
  font-size: 14px;
  border: 0;
  outline: 0;
}
.p-inkling__input::placeholder, .p-inkling__textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.p-inkling__textarea {
  height: 70px;
}

.p-inkling-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
.p-inkling-footer__item {
  margin: 0 10px 15px;
  width: 320px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .p-inkling th {
    padding: 15px;
  }
  .p-inkling th:first-child {
    padding-left: 15px;
  }
  .p-inkling td:first-child {
    padding-left: 15px;
  }
  .p-inkling th:nth-child(2), .p-inkling td:nth-child(2) {
    min-width: 200px;
    width: 200px;
  }
  .p-inkling__title {
    font-size: 18px;
  }
  .p-inkling__name:before, .p-inkling__title:before {
    left: -15px;
  }
  .p-inkling__item-name {
    width: 150px;
    min-width: 150px;
  }
  .p-inkling__item-aside-r {
    width: 100px;
    min-width: 100px;
  }

  .p-inkling-footer {
    padding: 30px 0;
  }
}
.p-form-s {
  max-width: 370px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.8;
  color: #000000;
  font-family: "Lato", sans-serif;
}
.p-form-s h3 {
  margin: 0 0 15px;
}
.p-form-s p {
  margin: 0 0 15px;
}
.p-form-s__submit {
  width: 320px;
  max-width: 100%;
}
.p-form-s__cont {
  margin-top: 50px;
}
.p-form-s__status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  margin-bottom: 40px;
}
.p-form-s__status .icon {
  margin-right: 10px;
}
.p-form-s__status .icon--check-o {
  fill: #45BE7D;
  width: 24px;
  height: 24px;
}
.p-form-s__status .icon--remove {
  fill: #ea7e84;
  width: 24px;
  height: 24px;
}
.p-form-s .link-more-green {
  font-size: 14px;
}

.p-steps {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.p-steps__item {
  margin-right: 25px;
}
.p-steps__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(135, 144, 161, 0.5);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: 0.3s color ease;
}
.p-steps__link--active {
  color: #8790A1;
  cursor: default;
}
.p-steps__link:hover {
  color: #8790A1;
}

.p-body-no-scroll {
  overflow: hidden;
}

.p-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
}
.p-modal__inner {
  border: 1px solid #DEDEDE;
  background: #fff;
  border-radius: 15px;
  margin: 40px auto;
  max-width: 998px;
}
.p-modal__header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
}
.p-modal__close {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 0.3s color ease;
  color: #000;
}
.p-modal__close .icon {
  fill: currentColor;
}
.p-modal__close .icon--close {
  width: 24px;
  height: 24px;
}
.p-modal__close:hover {
  color: gray;
}
.p-modal__body {
  padding: 30px 15px;
}
.p-modal .p-inkling-footer {
  padding: 45px 0 0;
}
.p-modal__footer {
  border-top: 1px solid #DEDEDE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 45px 0;
}
.p-modal__footer__item {
  margin: 0 10px;
  width: 320px;
  max-width: 100%;
}

.p-user-info {
  padding: 0;
  margin: auto;
  list-style: none;
  max-width: 620px;
}
.p-user-info__item {
  margin-bottom: 30px;
}
.p-user-info__label {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: #8790A1;
  margin-bottom: 5px;
}
.p-user-info h2 {
  margin: 0;
  font-size: 72px;
  line-height: 1;
  color: #464646;
  font-family: "Faustina", serif;
  font-weight: normal;
}
.p-user-info p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 15px;
}
.p-user-info p:last-child {
  margin-bottom: 0;
}
.p-user-info p a {
  text-decoration: none;
  color: #45BE7D;
}

@media (max-width: 768px) {
  .p-modal__inner {
    margin: 0;
    border: 0;
  }
  .p-modal__header {
    padding: 5px 5px;
  }
  .p-modal__close {
    width: 40px;
    height: 40px;
  }
  .p-modal__close .icon--close {
    width: 18px;
    height: 18px;
  }
  .p-modal__body {
    padding: 5px 15px;
  }
  .p-modal__footer {
    padding: 20px 0;
  }
  .p-modal__footer__item {
    margin-bottom: 15px;
  }
  .p-modal__footer__item:last-child {
    margin-bottom: 0;
  }
}