.p-header {
  padding: 30px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }

  &__logo {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #33364A;
    font-family: $fontPoppins;
  }

  .p-header__btn {
    width: 198px;
  }
}

@media(max-width: 768px) {
  .p-header {
    padding: 20px 0;


    &__inner {
      justify-content: center;
      text-align: center;
    }

    &__logo {
      order: 0;
      flex: 0 0 100%;
      margin-bottom: 20px;
    }

    &__btn {
      margin: 0 4px 15px;
      // max-width: calc(50% - 8px);
      // font-size: 11px;

      &:nth-child(1) {
        order: 1;
      }
    }
  }
}