.p-body-no-scroll {
  overflow: hidden;
}

.p-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;

  &__inner {
    border: 1px solid #DEDEDE;
    background: #fff;
    border-radius: 15px;
    margin: 40px auto;
    max-width: 998px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  &__close {
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 0.3s color  ease;
    color: #000;

    .icon {
      fill: currentColor;

      &--close {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      color: gray;
    }
  }

  &__body {
    padding: 30px 15px;
  }

  .p-inkling-footer {
    padding: 45px 0 0;
  }

  &__footer {
    border-top: 1px solid #DEDEDE;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px 0;

    &__item {
      margin: 0 10px;
      width: 320px;
      max-width: 100%;
    }
  }
}

.p-user-info {
  padding: 0;
  margin: auto;
  list-style: none;
  max-width: 620px;

  &__item {
    margin-bottom: 30px;
  }

  &__label {
    font-family:$fontPoppins;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: #8790A1;
    margin-bottom: 5px;
  }

  h2 {
    margin: 0;
    font-size: 72px;
    line-height: 1;
    color: #464646;
    font-family: $fontFaustina;
    font-weight: normal;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 15px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: #45BE7D;
    }
  }
}

@media(max-width: 768px) {
  .p-modal {
    &__inner {
      margin: 0;
      border: 0;
    }

    &__header {
      padding: 5px 5px;
    }

    &__close {
      width: 40px;
      height: 40px;

      .icon {
        &--close {
          width: 18px;
          height: 18px;
        }
      }
    }

    &__body {
      padding: 5px 15px;
    }
    
    &__footer {
      padding: 20px 0;

      &__item {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}