.p-form-s {
  max-width: 370px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.8;
  color: #000000;
  font-family: $fontLato;

  h3 {
    margin: 0 0 15px;
  }

  p {
    margin: 0 0 15px;
  }

  &__submit {
    width: 320px;
    max-width: 100%;
  }

  &__cont {
    margin-top: 50px;
  }

  &__status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    margin-bottom: 40px;

    .icon {
      margin-right: 10px;

      &--check-o {
        fill: #45BE7D;
        width: 24px;
        height: 24px;
      }

      &--remove {
        fill: #ea7e84;
        width: 24px;
        height: 24px;
      }
    }
  }

  .link-more-green {
    font-size: 14px;
  }
}

.p-steps {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 25px;
  }

  &__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(135, 144, 161, 0.5);
    font-family: $fontPoppins;
    text-decoration: none;
    transition: 0.3s color ease;

    &--active {
      color: #8790A1;
      cursor: default;
    }

    &:hover {
      color: #8790A1;
    }
  }
}