.p-inkling-wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.p-inkling {
  width: 100%;
  font-family: Roboto;

  th {
    text-align: left;
    padding: 20px 15px;
    border: 0;
    border-bottom: 1px solid #DEDEDE;
  }

  td {
    padding: 15px;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;

    &:first-child {
      border-left: 0;
    }
  }

  th, td {
    &:first-child {
      padding-left: 20px;
    }

    &.p-inkling__item-aside-r {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__item-name {
    width: 200px;
  }

  &__item-aside-r {
    width: 120px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;  
    color: #000000;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: -20px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      border-radius: 100%;
      display: block;
      content: '';
    }
    
    &--success {
      &:before {
        background: #45BE7D;
      }
    }

    &--warning {
      &:before {
        background: #ffc107;
      }
    }

    &--danger {
      &:before {
        background: #dc3545;
      }
    }

    &--secondary {
      &:before {
        background: #C4C4C4;
      } 
    }
  }

  &__link-filter {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: #45BE7D;
    text-decoration: none;
    transition: 0.3s color ease;

    &:hover {
      text-decoration: underline;
      color: darken(#45BE7D,10%);
    }
  }

  &__name {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;

    &:before {
      position: absolute;
      top: 50%;
      left: -20px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      border-radius: 100%;
      display: block;
      content: '';
    }

    &--success {
      &:before {
        background: #45BE7D;
      }
    }

    &--warning {
      &:before {
        background: #ffc107;
      }
    }

    &--danger {
      &:before {
        background: #dc3545;
      }
    }

    &--secondary {
      &:before {
        background: #C4C4C4;
      } 
    }
  }

  p {
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 1.5;
    
    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #45BE7D;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
        color: darken(#45BE7D,10%);
      }
    }
  }

  ul {
    font-size: 14px;
    margin: 0 0 10px;
    line-height: 1.5;
    padding: 0;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__loading {
    width: 30px;
  }

  &__input,
  &__textarea {
    width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &__textarea {
    height: 70px;
  }
}

.p-inkling-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;

  &__item {
    margin: 0 10px 15px;
    width: 320px;
    max-width: 100%;
  }
}

@media(max-width: 768px) {
  .p-inkling  {
    th {
      padding: 15px;

      &:first-child {
        padding-left: 15px;
      }
    }

    td {
      &:first-child {
        padding-left: 15px;
      }
    }

    th , td {
      &:nth-child(2) {
        min-width: 200px;
        width: 200px;
      }
    }

    &__title {
      font-size: 18px;

    }

    &__name ,
    &__title {
      &:before {
        left: -15px;
      }
    }

    &__item-name {
      width: 150px;
      min-width: 150px;
    }

    &__item-aside-r {
      width: 100px;
      min-width: 100px;
    }
  }

  .p-inkling-footer {
    padding: 30px 0;
  }
}