.p-table-status-wrap {
  max-width: 692px;
  margin-left: auto;
  margin-right: auto;
}

.p-table-status {
  width: 100%;


  th {
    font-weight: normal;
    color: #8790A1;
    font-size: 12px;
    line-height: 18px;
    padding: 20px;
    border: 0;
    border-bottom: 1px solid #DEDEDE;
    text-align: left;

    &:last-child {
      text-align: right;
    }

    b {
      font-family: $fontPoppins;
      text-transform: uppercase;
    }
  }

  td {
    padding: 20px;
    border: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: left;

    &:last-child {
      text-align: right;
    }
  }

  &__cont {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 1.5;
    
    p {
      margin: 0 0 5px;
    }

    h3 {
      font-weight: bold;
      font-size: 20px;
      margin: 0;
    }
  }

  &__indicator {
    position: absolute;
    top: 7px;
    left: 0;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #C4C4C4;

    &--success {
      background: #45BE7D;
    }

    &--warning {
      background: #ffc107;
    }

    &--danger {
      background: #dc3545;
    }
  }
}

@media(max-width: 768px) {
  .p-table-status {
    td, th {
      padding: 15px 8px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__cont h3 {
      font-size: 18px;
    }
  }
}