.p-btn-r {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid #8790A1;
  transition: 0.3s color ease, 0.3s background-color ease;
  border-radius: 50px;
  text-decoration: none;
  outline: 0;
  padding: 0 15px;
  font-family: $fontLato;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.3;
  color: #8790A1;
  text-align: center;

  &--large {
    height: 50px;
  }

  &:hover {
    color: #fff;
    background: #8790A1;
  }
}

.p-btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 0;
  outline: 0;
  padding: 0 15px;
  font-family: $fontLato;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.3;
  color: #8790A1;
  text-align: center;
  transition: 0.3s color ease, 0.3s background-color ease;
  border-radius: 50px;
  text-decoration: none;
    
  &:hover {
    color: #fff;
    background: #8790A1;
  }
  
  &--large {
    height: 50px;
  }

  &--green {
    color: #fff;
    background: #45BE7D;

    &:hover {
      background: darken(#45BE7D,10%);
    }
  }

  &--gray {
    background: #DEDEDE;
    color: #8790A1;
  }
}