.p-form-row {
  margin-bottom: 20px;
  font-family: $fontLato;

  &__input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    height: 50px;
    padding: 0 15px;
    color: #000;
    font-family: $fontLato;
    font-size: 14px;
    line-height: 1.3;
    outline: 0;
  }

  &__label {
    margin-bottom: 5px;
    font-family: $fontPoppins;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.3;
    color: #8790A1;

  }
}