.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left!important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto!important;
}

.mr-auto {
  margin-right: auto!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-40 {
  margin-bottom: 40px!important;
}

.mt-40 {
  margin-top: 40px!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-2-3 {
  width: 66.6%;
}

.slick-slide {
  outline: 0!important;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.p-page-inner {
  padding-top: 70px;
  padding-bottom: 50px;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

.text-gray {
  color: rgba(0, 0, 0, 0.5)!important;
}

.disable {
  opacity: 0.5;
  cursor: default;
  
  .icon--arrow-left {
    transform: translate(0,0)!important;
  }
}

