

.text-uppercase {
  text-transform: uppercase;
}

.link-refresh {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #8790A1;
  transition: 0.3s color ease;

  .icon {
    margin-right: 5px;
    transition: 0.3s all ease;
  }

  &:hover {
    color: #45BE7D;

    .icon {
      transform: rotate(180deg);
    }
  }
}

.link-more-green {
  color: #45BE7D;
  text-decoration: none;
  transition: 0.3s color ease;
  display: inline-block;
  vertical-align: top;

  &:hover {
    color: darken(#45BE7D,10%);
    text-decoration: underline;
  }
}

.link-icon {
  color: #45BE7D;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.2;
  transition: 0.3s color ease;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.1em;

  .icon {
    fill: currentColor;
    transition: 0.3s all ease;

    &--arrow-left {
      width: 18px;
      height: 18px;
      margin: 0 5px;
    }

    &--refresh-2 {
      width: 19px;
      height: 19px;
      margin: 0 5px;
    }
  }

  &:hover {
    color: darken(#45BE7D,10%);

    .icon {
      &--arrow-left {
        transform: translate(-5px,0);
      }

      &--refresh-2 {
        transform: rotate(-180deg);
      }
    }
  }
}

.p-list-decimal {
  list-style: decimal;
  padding: 0 0 0 20px;
  margin: 0;

  li {
    margin-bottom: 20px;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: #45BE7D;
    }
  }
}

@media(max-width: 568px) {
  .link-refresh {
    font-size: 12px;
  }
}