// fonts
$fontLato: 'Lato', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontFaustina: 'Faustina', serif;
// root
$rootUrl: "images/";
$rootUrlFonts: "../fonts/";

// color


