*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  min-width: 1024px;
  margin: auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  background: #fff;
}

.slick-slide {
  outline: 0 !important;
}

.page-inner {
  padding-top: 50px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-2-3 {
  width: 66.6%;
}

.slick-slide {
  outline: 0 !important;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  color: #424148;
  font-weight: 500;
}

.btn {
  text-align: center;
  border: 0;
  outline: 0;
  transition: 0.3s color ease, 0.3s background-color ease, 0.3s border ease;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 12px;
}
.btn--green {
  color: #fff;
  background: #45BE7D;
}
.btn--green:hover {
  background: #4caf50;
}

.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 41px;
  height: 25px;
  cursor: pointer;
}
.switch__cont {
  width: 41px;
  height: 25px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 15px;
  position: relative;
  display: block;
}
.switch__cont:before {
  background: #788591;
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 100%;
  transition: 0.3s all ease;
  width: 13px;
  height: 13px;
}
.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch__input:checked + .switch__cont:before {
  background: #45BE7D;
  left: 21px;
}

.table-promise {
  width: 805px;
  margin: 76px auto 36px;
}
.table-promise__link {
  text-decoration: none;
  font-size: 14px;
  color: #45BE7D;
  font-weight: bold;
  transition: 0.3s color ease;
}
.table-promise__link:hover {
  color: #4caf50;
  text-decoration: underline;
}
.table-promise__input-inner {
  width: 100%;
  position: relative;
  left: -7px;
}
.table-promise__input {
  background: #F9F9F9;
  height: 55px;
  border: 0;
  width: 100%;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  padding: 0 7px;
  outline: 0;
}
.table-promise__input::placeholder {
  color: #000;
}
.table-promise__tr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.table-promise__th {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #8790A1;
  padding: 0 15px 8px;
}
.table-promise__td {
  font-size: 14px;
  color: #000;
  padding: 15px 8px;
  min-height: 55px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.table-promise__td.table-promise__item--name {
  font-size: 24px;
}
.table-promise__td.table-promise__item--name .table-promise__input {
  font-size: 24px;
  line-height: 29px;
}
.table-promise__item--name {
  width: 220px;
}
.table-promise__item--domain {
  width: 222px;
}
.table-promise__item--ip {
  width: 184px;
}
.table-promise__item--status {
  width: 70px;
}
.table-promise__item--edit {
  text-align: right;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  justify-content: flex-end;
}

.page-404 {
  padding: 30px 15px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 150px auto 30px;
}
.page-404 h3 {
  margin: 29px 0 37px;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
}
.page-404 p {
  font-size: 20px;
  line-height: 18px;
  margin: 0;
}

.table-f-w {
  max-height: 500px;
  overflow: auto;
  position: relative;
  margin: auto;
  padding: 5px;
}

.table-f {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
.table-f td,
.table-f th {
  padding: 8px 15px;
}
.table-f td {
  font-size: 14px;
  color: #000;
}
.table-f__th {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #8790A1;
  text-align: left;
  position: sticky;
  top: -8px;
  white-space: nowrap;
  background: #fff;
  padding: 15px 15px;
}
.table-f__th:first-child {
  left: 0;
  z-index: 1;
  background: #f9f9f9;
}
.table-f__th-cont {
  position: relative;
  padding-right: 25px;
  cursor: pointer;
  outline: 0;
  border: 0;
  display: block;
  color: inherit;
  text-decoration: none;
}
.table-f__th-cont:before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: #333 transparent transparent transparent;
  content: "";
  display: block;
  margin-top: -2px;
  transition: 0.3s all ease;
}
.table-f__th-cont--active:before {
  transform: rotate(-180deg);
}
.table-f__th-inner {
  position: sticky;
  left: 0;
  text-align: left;
  background: #f9f9f9;
  font-size: 16px;
  font-weight: 500;
}